@use './variables' as vars;

html, body {height: 100%; margin: 0; font-family: "Gill Sans", sans-serif;}

#root{
    height: 100%;
    width: 100%;
}



#mainRegisterLoginPage{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #070604;
    color: vars.$secondary-color;
}

.welcomeBlock{
    margin-left: 5px;
    width: 70%;
    height: 100%;
    background-color: #0e0e0ecc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleOfPage {
    font-size: 40px;
}

.bottomText{
    position: absolute;
    top: 100%;
    transform: translate(0, -300%);
    margin: 30px;
}

.logoAndText{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    height: 60%;
}
.highlightText{
    font-size: 25px;
    color: vars.$primary-color;
}


#mainloginPage{
    flex-direction: column-reverse;
}
.welcomeBlock {
    display: none;
}
#welcomeBlockSmall {
    display: block;
}



.loginPanel {
    width: 500px;
    height: 400px;
    background-color: antiquewhite;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;

    border-radius: 15px;
}

.panel404{
    width: 800px;
    height: 500px;
    justify-content:center;
    background-color: transparent;
}

.errorFont{
    font-size: 150px;
    margin: 10px;
}

.btn2.btn404{
    margin-top: 30px;
    text-decoration: none;
    
}

.textInput {
    border: solid 2px vars.$icon-hover-color;
    border-radius: 10px;
    transition: 0.5s;
    height: 25px;
    width: 225px;
    text-align: center; 
    outline: none;
    font-size: 18px;
    background-color: #070604;
    color: vars.$secondary-color;
}

.textInput:focus, .textInput:hover {
    border: solid 2px vars.$primary-color;
}



a{
    color: vars.$link-color;
    font-weight: 700;
    transition: 0.2s;
}

a:hover{
    color: vars.$primary-color;
}

.btn{
    border: none ;
    border-radius: 3px;
    font-size: 18px;
    padding: 4px 30px 4px 30px;
    font-weight: 500;
    color: vars.$btn-color;
    background-color: vars.$icon-hover-color;
    transition: 0.2s;
    cursor: pointer;
}

.btn:hover{
    background-color: vars.$primary-color;
    color: #070604;
}

.btn:active{
    filter: brightness(0.8);
}

label {
    font-size: 12px;
    font-style:italic;
}

.popUp{
    position: absolute;
    //top:50%;
    //left: 50%;
    transform: translate(100%, -100%);
    border-radius: 9px;
    border-color: vars.$btn-color;
    border-width: 2px;
    border-style: solid;
    font-size: 14px;
    height: 80px;
    width: 250px;
    margin: 10px;
    color: vars.$btn-color;
    background-color: vars.$link-hover-color;
}


.closeBtn::after {
    height: 20px;
    width: 20px;
    font-size: 25px;
    display: inline-block;
    content: "\00d7";
}

.closeBtn:hover{
    color: #070604;
}

.closeBtnBox{
    display: flex;
    flex-direction: row-reverse;
}


.validationBox{
    width: 325px;
    text-align: center;
    color: vars.$btn-color;
    background-color: vars.$link-hover-color;
    margin: 10px;
    border-radius: 9px;
    font-size: 14px;
    padding: 4px;
}

.correctValidation{
    color: green;
}

.wrongValidation{
    color: red;
}