$primary-color: #1d6cf2; // intensywny niebieski
$secondary-color: #7faee9; // jaśniejszy, spokojniejszy niebieski
$btn-color: #a9c8f4; // bardzo jasny niebieski, delikatny
$btn-active-color: rgba(29, 108, 242, 0.7); // półprzezroczysty intensywny niebieski
$btn-hover-color: rgba(29, 109, 242, 1); // pełny niebieski, bardzo lekko zmodyfikowany
$icon-hover-color: #144bb0; // ciemny niebieski
$link-color: #144bb0;
$link-hover-color: rgba(20, 75, 176, 0.93);


$bk-color: #070604;
$panel-color: #0e0e0e;
$panel-trans-color: #0e0e0ecc;